@{
  Layout="Shared/_Layout.cshtml";
}
<!-- <div class="row">
  <div class="col-md-12">
    <h1> </h1>
  </div>
</div> -->
<div class="row">

    <form class="" action="/result" method="post" autocomplete="off">
      <div class="word col-md-12">
        <div class="word-group">
          <label for="word">How many times I tape word:</label><br>
          <input class="" type="text" name="word" autofocus >
          <img src="Content\img\pencil.ico" alt="pencil">
        </div>
      </div>
      <div class="sentence col-md-12">
        <div class="sentence-group">
          <label for="sentence">in this sentence</label><br>
          <input class="" type="text" name="sentence">
        </div>
        <button type="submit" name="button">Get repetitive count</button>
      </div>
    </form>


</div>
