@{
  Layout="Shared/_Layout.cshtml";
}
<div class="row">
  <div class="sentence output col-md-12">
    Sentence: <br> <strong class="result">@Model["sentence"]</strong><br> contains word <br><strong class="result">@Model["word"]<br> @Model["repetitiveNumber"] </strong> times.
  </div>
</div>
<div class="row">
  <div class="col-md-12 top">
    <h2><a href="/">Home</a></h2>
  </div>
</div>
