input {
  border: none;
}
.word input {
  background-color: #564256;
  text-align: center;
}

.word input:visited {
  border: none;
  background-color: #564256;
}
.word input:focus {
  border: none;
  outline: none;
  background-color: #564256;
}
.word {
  height: auto;
  text-align: center;
  font-size: 60px;
  background-color: #564256;
  color: #F5E663;
}
.word-group, .sentence-group {
  padding: 55px;
}
.sentence, .result {
  height: auto;
  text-align: center;
  font-size: 65px;
  background-color: #F5E663;
  color: #564256;
}
.output {
  padding: 25px;
}

.sentence input {
  text-align: center;
  border: none;
  background-color: #F5E663;
}
.sentence input:active {
  border: none;
  background-color: #F5E663;
}
.sentence input:focus {
  border: none;
  outline: none;
  background-color: #F5E663;
}
button {
  background-color: #F5E663;
  border: none;
}
.col-md-3 {
  text-align: left;
}
body {
  font-family: 'Coiny', cursive;
}
::-webkit-input-placeholder {

    opacity: 0.3 !important;
  }
.top {
  background-color: #564256;
  height: 100px;
}
.result {
  font-size: 60px;
  color: #FC814A;
}
